@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<partial name="Search/_SearchBox" />
<br />

<a asp-action="Detail" asp-route-id="7">Espèce id existant</a>
<br />
<a asp-action="Tags" asp-route-tag="foo">Pas de résultats pour tag</a>
<br />
<a asp-action="Tags" asp-route-tag="bar">Résultats pour tag</a>
<br />
<a asp-action="Tags" asp-route-tag="foo">Pas de résultats pour tag</a>
<br />
<a asp-action="ByYearMonth" asp-route-year="2022" asp-route-month="02">Pas de résultats pour mois</a>
<br />
<a asp-action="ByYearMonth" asp-route-year="2022" asp-route-month="03">Résultats pour mois</a>
<br />

