@page
@model AspNetBiodiv.Core.Web.Pages.Statistiques.IndexModel

<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Input.DateDebut"></label>
    <input asp-for="Input.DateDebut"/>
    <label asp-for="Input.DateFin"></label>
    <input asp-for="Input.DateFin"/>
    <input type="submit" value="Générer" class="btn btn-primary"/>
</form>

<hr />

@if (Model.Statistics != null)
{
    <p>
        Espèces uniques : @Model.Statistics.EspecesUniques<br />
        Nombre d'observations sur la période : @Model.Statistics.NbObservations<br />
        Nombre d'observateurs uniques : @Model.Statistics.ObservateursUniques<br />

        @foreach (var (k, v) in Model.Statistics.ObservationsParVille)
        {
            <span>
                Observations pour @k : @v
            </span>

            <br />
        }
    </p>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}